# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
ios/
android/
*.orig.*
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# EAS local credentials
credentials.json
credentials/

# typescript
*.tsbuildinfo
.vercel

.env
*.apk
tacoplan-ac581-firebase-adminsdk-fbsvc-a7964a5695.json
tacoplan-ac581-firebase-adminsdk-fbsvc-a7964a5695.json
*.apk
.dbg/
.home/
expo-export-*.log
